.head {
    display: flex;
    justify-content: flex-start;
    font-size: medium;
    color: #757bc3;
}

.navbar {
    width: 400px;
    padding: 4px 10px;
    display: flex;
    justify-content: space-between;
}