.footer {
  width: 400px;
  display: flex;
  height: 20px;
  padding: 20px;
  color: white;
  background-color: black;
  align-items: center;
  justify-content: space-between;
}

.footer h5 {
  font-size: 14px;
}

.footer__iconscontainer {
  display: flex;
  gap:10px;
}

.footer__icons {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms;
  margin-top: 3px;
}

.footer__icons:hover {
  color: rgb(234 179 8);
}

.footer__icons_icon{
  font-size: 22px;
}